<div class="view view-forgot-password w-md mt-50 m-auto">
  <div class="view-forgot-password__head text-center mb-10">
    <h1><a href="/" class="text-4xl tracking-tight mb-2"><span>POST</span> <b class="relative -left-1">BIT</b></a></h1>
    <p class="text-base text-gray-400">Enter your email to reset your password</p>
  </div>
  <div class="view-forgot-password__body">
    <form class="text-base" action="/forgot-password" method="POST">
      <div class="form-row  mb-6">
        <label class="block text-md mb-2" for="email">Email address<span>*</span></label>
        <input
          class="rounded-sm border border-gray-300 px-3 py-2 bg-neutral-50 w-full hover:border-gray-400 focus:border-gray-900 transition-colors text-gray-800"
          type="email" id="email" name="email">
        <%- include('../partials/field-error.view.ejs', { errors: [], field: 'email' }) %>
      </div>
      <div class="form-row mb-8">
        <button
          class="px-4 py-2 text-sm font-normal border-2 border-gray-900 bg-gray-900 text-white rounded-sm min-w-34 text-center hover:bg-gray-700 hover:shadow-lg transition-colors w-full"
          type="submit">Send Reset Link</button>
      </div>
      <div class="form-row flex justify-center">
        <a href="/login" class="text-gray-900 flex items-center"><i class="text-md icon iconoir-arrow-left mr-2"></i>
          Back to Login</a>
      </div>
    </form>
  </div>
</div>
