<div class="view view-login w-md mt-50 m-auto">
  <div class="view-login__head text-center mb-10">
    <h1><a href="/" class="text-4xl tracking-tight mb-2"><span>POST</span> <b class="relative -left-1">BIT</b></a></h1>
    <p class="text-base text-gray-400">Create an account to start sharing your posts</p>
  </div>
  <div class="view-login__body">
    <form class="text-base" action="/login" method="POST">
      <div class="form-row  mb-6">
        <label class="block text-md mb-2" for="email">Email address<span>*</span></label>
        <input
          class="rounded-sm border border-gray-300 px-3 py-2 bg-neutral-50 w-full hover:border-gray-400 focus:border-gray-900 transition-colors text-gray-800"
          type="email" id="email" name="email" />

      </div>
      <div class="form-row  mb-6">
        <div class="flex items-center justify-between">
          <label class="block text-md mb-2" for="password">Password <span>*</span></label>
          <a href="/forgot-password" class="text-gray-500 mb-2 text-sm">Forgot your password?</a>
        </div>
        <input
          class="rounded-sm border border-gray-300 px-3 py-2 bg-neutral-50 w-full hover:border-gray-400 focus:border-gray-900 transition-colors text-gray-800"
          type="password" id="password" name="password" />
      </div>
      <div class="form-row mb-8">
        <button
          class="px-4 py-2 text-sm font-normal border-2 border-gray-900 bg-gray-900 text-white rounded-sm min-w-34 text-center hover:bg-gray-700 hover:shadow-lg transition-colors w-full"
          type="submit">Login</button>
      </div>
      <div class="form-row flex justify-center text-sm">
        <a href="/register" class="text-gray-500">Don't have an account? Register</a>
      </div>
    </form>
  </div>
</div>
