@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==========================
   App
   ========================== */
.app {
  @apply flex flex-col min-h-screen;

  & .app__main {
    @apply flex-1;
  }
}

/* ==========================
   Header
   ========================== */
.header {
  @apply sticky top-0 z-50;

  & .header__bar {
    @apply bg-primary py-6;
  }

  & .header__inner {
    @apply container px-4 m-auto flex justify-between items-center;
  }

  & .header__brand {
    @apply text-2xl tracking-tight mb-2;
  }

  & .header__brand-mark {
    @apply relative -left-1;
  }

  & .header__center {
    @apply w-[40%];
  }

  & .header__menu {
    @apply flex items-center;
  }

  & .header__menu-item {
    @apply mr-4;
  }

  & .header__menu-link {
    @apply text-sm;
  }

  & .header__categories {
    @apply bg-neutral-50 py-4 border-y shadow-sm border-gray-200;
  }

  & .header__categories-inner {
    @apply container px-4 m-auto;
  }

  & .header__categories-list {
    @apply flex items-center gap-4 text-sm text-center;
  }

  & .header__category-link {
    @apply px-4 py-2 rounded-2xl font-normal hover:bg-gray-200;
  }

  & .header__category-link--active {
    @apply bg-gray-900 text-white font-bold;
  }
}

/* ==========================
   Main
   ========================== */
.main {
  @apply container m-auto p-4;
}

/* ==========================
   Search
   ========================== */
.search {
  @apply w-4/5 m-auto bg-white/25 rounded-full flex gap-3 items-center p-4;

  & .search__button {
    @apply bg-transparent;
  }

  & .search__input {
    @apply text-sm w-full bg-transparent border-0 focus:outline-none px-2 py-1;
  }
}

/* ==========================
   Footer
   ========================== */
.footer {
  @apply bg-slate-200 p-4 text-sm;

  & .footer__inner {
    @apply container px-4 m-auto flex items-center justify-between;
  }
}
