/* ==========================
   Card
   ========================== */
.card {
  position: relative;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.card:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.card {

  & .card__header {}

  & .card__favorite {
    position: absolute
  }

  & .card__favorite {
    top: 0.5rem
  }

  & .card__favorite {
    right: 0.5rem
  }

  & .card__favorite {
    display: flex
  }

  & .card__favorite {
    height: 2rem
  }

  & .card__favorite {
    width: 2rem
  }

  & .card__favorite {
    align-items: center
  }

  & .card__favorite {
    justify-content: center
  }

  & .card__favorite {
    border-radius: 9999px
  }

  & .card__favorite {
    background-color: rgb(255 255 255 / 0.8)
  }

  & .card__favorite {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1))
  }

  & .card__favorite {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
  }

  & .card__favorite {
    --tw-backdrop-blur: blur(4px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
  }

  & .card__favorite {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
  }

  & .card__favorite {
    transition-duration: 200ms
  }

  & .card__favorite:hover {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity, 1))
  }

  & .card__image {
    height: 10rem
  }

  & .card__image {
    width: 100%
  }

  & .card__image {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem
  }

  & .card__image {
    -o-object-fit: cover;
       object-fit: cover
  }

  & .card__body {
    padding: 1rem
  }

  & .card__title {
    margin-bottom: 0.5rem
  }

  & .card__title {
    font-size: 1.25rem;
    line-height: 1.75rem
  }

  & .card__title {
    line-height: 1
  }

  & .card__description {
    word-break: break-all
  }

  & .card__description {
    font-size: 0.875rem;
    line-height: 1.25rem
  }

  & .card__description {
    line-height: 1.5rem
  }

  & .card__description {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1))
  }

  & .card__foot {
    padding: 1rem
  }

  & .card__meta {
    display: flex
  }

  & .card__meta {
    align-items: center
  }

  & .card__meta-info {
    line-height: 1
  }

  & .card__meta-avatar {
    margin-right: 0.5rem
  }

  & .card__avatar {
    height: 32px
  }

  & .card__avatar {
    width: 32px
  }

  & .card__avatar {
    border-radius: 9999px
  }

  & .card__author {
    margin-bottom: 0.25rem
  }

  & .card__author {
    font-size: 0.875rem;
    line-height: 1.25rem
  }

  & .card__author {
    line-height: 1
  }

  & .card__date {
    font-size: 0.75rem;
    line-height: 1rem
  }

  & .card__date {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1))
  }

  & .card__meta-comments {
    margin-left: auto
  }

  & .card__meta-comments {
    display: flex
  }

  & .card__meta-comments {
    align-items: center
  }

  & .card__meta-comments {
    gap: 0.25rem
  }

  & .card__meta-comments {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1))
  }

  & .card__comments-count {
    font-size: 0.75rem;
    line-height: 1rem
  }
}
